#
# System
#
CONFIG_BLINK_GPIO=2

#
# I2C
#
CONFIG_SDA_GPIO=21
CONFIG_SCL_GPIO=22
CONFIG_I2C_PORT_NUM=0

#
# SPI
#
CONFIG_MISO_GPIO=19
CONFIG_MOSI_GPIO=23
CONFIG_SCLK_GPIO=18

#
# Motors
#

# Front Left (M1)
CONFIG_MOTOR_FL_DIR_GPIO=33
CONFIG_MOTOR_FL_PWM_GPIO=32
CONFIG_MOTOR_FL_ENC_CHANNEL=0
# Back Left (M2)
CONFIG_MOTOR_BL_DIR_GPIO=25
CONFIG_MOTOR_BL_PWM_GPIO=26
CONFIG_MOTOR_BL_ENC_CHANNEL=7
# Back Right (M3)
CONFIG_MOTOR_BR_DIR_GPIO=27
CONFIG_MOTOR_BR_PWM_GPIO=14
CONFIG_MOTOR_BR_ENC_CHANNEL=6
# Front Right (M4)
CONFIG_MOTOR_FR_DIR_GPIO=17
CONFIG_MOTOR_FR_PWM_GPIO=16
CONFIG_MOTOR_FR_ENC_CHANNEL=3

#
# nRF24L01 Configuration
#
CONFIG_GPIO_RANGE_MAX=33
CONFIG_RADIO_CHANNEL=76
CONFIG_MISO_GPIO=19
CONFIG_SCLK_GPIO=18
CONFIG_MOSI_GPIO=23
CONFIG_CE_GPIO=2
CONFIG_CSN_GPIO=5
CONFIG_IRQ_GPIO=4
CONFIG_SPI2_HOST=y
# CONFIG_SPI3_HOST is not set
CONFIG_ADVANCED=y
# CONFIG_RF_RATIO_2M is not set
# CONFIG_RF_RATIO_1M is not set
CONFIG_RF_RATIO_250K=y
CONFIG_RETRANSMIT_DELAY=4
CONFIG_RETRANSMIT_COUNT=3
