# --- System ---
CONFIG_BLINK_GPIO=2

# --- I2C ---
CONFIG_SDA_GPIO=21
CONFIG_SCL_GPIO=22

# --- SPI ---
CONFIG_MISO_GPIO=19
CONFIG_MOSI_GPIO=23
CONFIG_SCLK_GPIO=18

# --- Motors ---
# Front Left (M1)
CONFIG_MOTOR_FL_DIR_GPIO=33
CONFIG_MOTOR_FL_PWM_GPIO=32
CONFIG_MOTOR_FL_ENC_CHANNEL=0
# Back Left (M2)
CONFIG_MOTOR_BL_DIR_GPIO=25
CONFIG_MOTOR_BL_PWM_GPIO=26
CONFIG_MOTOR_BL_ENC_CHANNEL=7
# Back Right (M3)
CONFIG_MOTOR_BR_DIR_GPIO=27
CONFIG_MOTOR_BR_PWM_GPIO=14
CONFIG_MOTOR_BR_ENC_CHANNEL=6
# Front Right (M4)
CONFIG_MOTOR_FR_DIR_GPIO=17
CONFIG_MOTOR_FR_PWM_GPIO=16
CONFIG_MOTOR_FR_ENC_CHANNEL=3

# --- NRF24L01 Radio ---
CONFIG_RADIO_CHANNEL=90
CONFIG_CE_GPIO=16
CONFIG_CSN_GPIO=17
CONFIG_ADVANCED=y
CONFIG_RF_RATIO_250K=y
CONFIG_RETRANSMIT_DELAY=0
